<div class="search-button" (click)="toogleSearchBox()"></div>
<div class="search-cover" [ngClass]="{'active': isOpen}" (click)="toogleSearchBox()"></div>
<section class="search-results" [ngClass]="{'active': isOpen}">
  <input class="search-input" type="text" [(ngModel)]="searchText" />
  <ul class="list-group">
    <li class="list-item" *ngFor="let item of toDoListArray | searchFilter:searchText">
      <a routerLink="/item/{{item.$key}}" class="title">{{item.title}}</a>
    </li>
  </ul>
</section>