html, body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
}

.app-header, .todo-section {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.app-header {
    text-align: center;
    padding: 50px 20px 20px;
}

.header-text {
    color: #3f8c4a;
}

.todo-section {
    padding: 10px;
}

.input-group {
    text-align: center;
}

.text-input {
    display: inline-block;
    border: none;
    border-bottom: 2px solid gray;
    background: transparent !important;
    text-align: center;
    outline: none;
    height: 24px;
    width: 200px;
    color: #333;
    font-size: 18px;
    line-height: 18px;
    padding: 0 5px;
}

.add-button {
    display: inline-block;
    border-bottom: 1px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: transparent !important;
    outline: none;
    height: 24px;
    width: 90px;
    color: #3f8c4a;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

.list-group {
    padding: 50px 20px;
    text-align: center;
}

.list-item {
    list-style: none;
    height: 30px;
}

.list-item .checkbox {
    display: inline-block;
}

.list-item .checkbox__checked {
    text-decoration: line-through;
}

.list-item .title {
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.list-item .delete-button {
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    color: #c51d1d;
}