<header class="app-header">
  <h1 class="header-text">To Do List App</h1>
</header>
<section class="todo-section">
  <div class="input-group">
    <input type="text" class="text-input form-control" #itemTitle>
    <div class="add-button" (click)="onAdd(itemTitle)">Add Item</div>
    <app-search [toDoListArray]="toDoListArray"></app-search>
  </div>
  <ul class="list-group">
    <li class="list-item" *ngFor="let item of toDoListArray">
      <div class="checkbox" [ngClass]="{checkbox__checked : item.isChecked}" (click)="alterCheck(item.$key,item.isChecked)">
        <span class="title">{{item.title}}</span>
      </div>
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 
      <span class="delete-button" (click)="onDelete(item.$key)">Delete</span>
    </li>
  </ul>
</section>