.list-item {
  text-align: center;
}

.back-link {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.title-input {
  display: inline-block;
  border: none;
  border-bottom: 2px solid gray;
  background: transparent !important;
  text-align: center;
  outline: none;
  height: 24px;
  width: 200px;
  color: #333;
  font-size: 18px;
  line-height: 18px;
  padding: 0 5px;
}

.checkbox {
  height: 10px;
  width: 10px;
  border: 2px solid #333;
  background-color: transparent;
  cursor: pointer;
}

.checkbox__checked {
  background-color: #333;
}