<section>
  <div>
    <a class="back-link" routerLink="">&larr; To Do List</a>
  </div>
  <div class="list-item" *ngFor="let item of toDoListItem">
    <input type="text" class="title-input" (keyup)="updateTitle(titleInput.value)" value="{{item.title}}" #titleInput />
    <div class="checkbox" [ngClass]="{checkbox__checked : item.isChecked}" (click)="alterCheck(item.$key,item.isChecked)"></div>
  </div>
</section>
